@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
/* Partials */
/* Theme Vars */
/* Compass Vars */
/* Override some defaults */
/* line 13, ../_sass/_base.scss */

/* line 31, ../sass/darkstrap.scss */
.well, .breadcrumb, input,
input[type="file"],
select,
textarea, .progress, code, pre {
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 33, ../sass/darkstrap.scss */
body {
  background: #2f2f2f;
  color: #c6c6c6;
}

/* line 39, ../sass/darkstrap.scss */
.breadcrumb {
  border: 0;
}
/* line 42, ../sass/darkstrap.scss */
.breadcrumb li {
  text-shadow: 0 1px 0 #000;
}

/* line 48, ../sass/darkstrap.scss */
.page-header {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

/* line 49, ../sass/darkstrap.scss */
h1, h2, h3, h4, h5, h6 {
  color: white;
}

/* line 50, ../sass/darkstrap.scss */
h6 {
  color: #999;
}

/* line 57, ../sass/darkstrap.scss */
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > .open.active > a:hover {
  background-color: #222222;
  border-color: #2f2f2f #2f2f2f transparent #2f2f2f;
}

/* line 61, ../sass/darkstrap.scss */
.nav > .dropdown.active > a:hover {
  color: #fff;
}

/* line 65, ../sass/darkstrap.scss */
.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
  border-top-color: #fff;
}

/* line 68, ../sass/darkstrap.scss */
.nav-tabs {
  border-bottom: 1px solid #666;
}
/* line 71, ../sass/darkstrap.scss */
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: #2f2f2f;
  color: #fff;
  border-color: #666 #666 transparent #666;
}
/* line 76, ../sass/darkstrap.scss */
.nav-tabs > li > a:hover {
  border-color: #2f2f2f #2f2f2f #666666 #2f2f2f;
  background-color: #222222;
  color: #00aaff;
}
/* line 83, ../sass/darkstrap.scss */
.nav-tabs.nav-stacked > li > a, .nav-tabs.nav-stacked > li > a:hover {
  border-color: #666;
}

/* line 89, ../sass/darkstrap.scss */
.nav-pills > li > a:hover {
  background-color: #222222;
  color: #00aaff;
}

/* line 95, ../sass/darkstrap.scss */
.nav-list > li > a,
.nav-list .nav-header {
  text-shadow: 0 1px 0 #000;
}

/* line 98, ../sass/darkstrap.scss */
.nav-list > li > a:hover {
  background-color: #161616;
  color: #00aaff;
}

/* line 103, ../sass/darkstrap.scss */
.nav-list .active > a:hover {
  background-color: #0088cc;
  color: white;
}

/* line 109, ../sass/darkstrap.scss */
.tabs-below .nav-tabs {
  border-top: 1px solid #666;
}

/* line 110, ../sass/darkstrap.scss */
.tabs-left .nav-tabs {
  border-right: 1px solid #666;
}

/* line 111, ../sass/darkstrap.scss */
.tabs-right .nav-tabs {
  border-left: 1px solid #666;
}

/* line 113, ../sass/darkstrap.scss */
.tabs-below .nav-tabs > li > a:hover {
  border-top: 1px solid #666;
}

/* line 116, ../sass/darkstrap.scss */
.tabs-left .nav-tabs > li > a:hover {
  border-color: transparent #666 transparent transparent;
}

/* line 119, ../sass/darkstrap.scss */
.tabs-right .nav-tabs > li > a:hover {
  border-color: transparent transparent transparent #666;
}

/* line 124, ../sass/darkstrap.scss */
.tabs-below .nav-tabs .active > a,
.tabs-below .nav-tabs .active > a:hover {
  border-color: transparent #666 #666 #666;
}

/* line 128, ../sass/darkstrap.scss */
.tabs-left .nav-tabs .active > a,
.tabs-left .nav-tabs .active > a:hover {
  border-color: #666 transparent #666 #666;
}

/* line 132, ../sass/darkstrap.scss */
.tabs-right .nav-tabs .active > a,
.tabs-right .nav-tabs .active > a:hover {
  border-color: #666 #666 #666 transparent;
}

/* line 2, ../sass/mixins.scss */
:-moz-placeholder {
  color: #666666;
}

/* line 5, ../sass/mixins.scss */
::-webkit-input-placeholder {
  color: #666666;
}

/* line 140, ../sass/darkstrap.scss */
.input-prepend .add-on,
.input-append .add-on {
  background: #444;
  color: #c6c6c6;
  border-color: #111;
  text-shadow: 0 1px 0  black;
}

/* line 147, ../sass/darkstrap.scss */
label {
  color: #c6c6c6;
}

/* line 154, ../sass/darkstrap.scss */
input,
input[type="file"],
select,
textarea {
  color: white;
  border-color: #111111;
}

/* line 160, ../sass/darkstrap.scss */
.search-query {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0) 0 1px 7px 0px inset;
}

/* line 163, ../sass/darkstrap.scss */
legend {
  color: white;
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

/* line 167, ../sass/darkstrap.scss */
.form-actions {
  border-top-color: #222;
  background-color: #444;
}

/* line 172, ../sass/darkstrap.scss */
.help-inline {
  color: #999;
}

/* line 12, ../sass/mixins.scss */
.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #faa732;
}
/* line 13, ../sass/mixins.scss */
.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
  color: #faa732;
  border-color: #faa732;
}
/* line 20, ../sass/mixins.scss */
.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #faa732;
  -moz-box-shadow: 0 0 6px #faa732;
  -webkit-box-shadow: 0 0 6px #faa732;
  -o-box-shadow: 0 0 6px #faa732;
  box-shadow: 0 0 6px #faa732;
}
/* line 12, ../sass/mixins.scss */
.control-group.success > label, .control-group.success .help-block, .control-group.success .help-inline {
  color: #5bb75b;
}
/* line 13, ../sass/mixins.scss */
.control-group.success input, .control-group.success select, .control-group.success textarea {
  color: #5bb75b;
  border-color: #5bb75b;
}
/* line 20, ../sass/mixins.scss */
.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
  border-color: #5bb75b;
  -moz-box-shadow: 0 0 6px #5bb75b;
  -webkit-box-shadow: 0 0 6px #5bb75b;
  -o-box-shadow: 0 0 6px #5bb75b;
  box-shadow: 0 0 6px #5bb75b;
}
/* line 12, ../sass/mixins.scss */
.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
  color: #fc5b5e;
}
/* line 13, ../sass/mixins.scss */
.control-group.error input, .control-group.error select, .control-group.error textarea {
  color: #fc5b5e;
  border-color: #fc5b5e;
}
/* line 20, ../sass/mixins.scss */
.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
  border-color: #fc5b5e;
  -moz-box-shadow: 0 0 6px #fc5b5e;
  -webkit-box-shadow: 0 0 6px #fc5b5e;
  -o-box-shadow: 0 0 6px #fc5b5e;
  box-shadow: 0 0 6px #fc5b5e;
}

/* line 182, ../sass/darkstrap.scss */
.table thead {
  color: white;
}
/* line 185, ../sass/darkstrap.scss */
.table td {
  border-top-color: #666;
}

/* line 191, ../sass/darkstrap.scss */
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  background-color: #444;
}

/* line 197, ../sass/darkstrap.scss */
.table-bordered {
  border: 1px solid #666;
}
/* line 202, ../sass/darkstrap.scss */
.table-bordered th + th,
.table-bordered td + td,
.table-bordered th + td,
.table-bordered td + th {
  border-left: 1px solid #666;
}

/* line 208, ../sass/darkstrap.scss */
.pagination a:hover {
  color: #00aaff;
  background-color: #222222;
}

/* line 212, ../sass/darkstrap.scss */
.pagination .active a {
  color: #fff;
  background-color: #222222;
}

/* line 216, ../sass/darkstrap.scss */
.pagination a {
  border-color: #666;
}

/* line 219, ../sass/darkstrap.scss */
.pager a {
  background-color: #2f2f2f;
  border-color: #666;
}
/* line 222, ../sass/darkstrap.scss */
.pager a:hover {
  background-color: #222222;
  color: #00aaff;
}

/* line 238, ../sass/darkstrap.scss */
.alert {
  color: #fff;
  background-color: #faa732;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #a86404;
}
/* line 234, ../sass/darkstrap.scss */
.alert h4 {
  color: #c17305;
}

/* line 239, ../sass/darkstrap.scss */
.alert-success {
  color: #fff;
  background-color: #5bb75b;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #2d662d;
}
/* line 234, ../sass/darkstrap.scss */
.alert-success h4 {
  color: #347834;
}

/* line 240, ../sass/darkstrap.scss */
.alert-error {
  color: #fff;
  background-color: #fc5b5e;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #d40408;
}
/* line 234, ../sass/darkstrap.scss */
.alert-error h4 {
  color: #ed0409;
}

/* line 241, ../sass/darkstrap.scss */
.alert-info {
  color: #fff;
  background-color: #3a87ad;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-color: #1a3c4e;
}
/* line 234, ../sass/darkstrap.scss */
.alert-info h4 {
  color: #204b61;
}

/* line 245, ../sass/darkstrap.scss */
.modal {
  background-color: #444;
}

/* line 248, ../sass/darkstrap.scss */
.modal-header {
  border-bottom: 1px solid #222;
}

/* line 251, ../sass/darkstrap.scss */
.modal-body p {
  color: #c6c6c6;
}

/* line 254, ../sass/darkstrap.scss */
.modal-footer {
  background-color: #373737;
  border-top: 1px solid #222;
  -moz-box-shadow: 0 1px 0 #333333 inset;
  -webkit-box-shadow: 0 1px 0 #333333 inset;
  -o-box-shadow: 0 1px 0 #333333 inset;
  box-shadow: 0 1px 0 #333333 inset;
}

/* line 266, ../sass/darkstrap.scss */
blockquote {
  border-left-color: #111;
}
/* line 268, ../sass/darkstrap.scss */
blockquote.pull-right {
  border-right-color: #111;
}

/* line 271, ../sass/darkstrap.scss */
hr {
  -moz-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  -o-box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
  border-top: none;
}

/* line 277, ../sass/darkstrap.scss */
code {
  border: none;
}

/* line 281, ../sass/darkstrap.scss */
pre {
  border: none;
  color: #c6c6c6;
}

/* COlumns */

.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{
	position:relative;
	min-height:1px;
	padding-right:15px;
	padding-left:15px
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{
	float:left
}

.col-xs-12{
	width:100%
}

.col-xs-11{
	width:91.66666667%
}

.col-xs-10{
	width:83.33333333%
}

.col-xs-9{
	width:75%
}

.col-xs-8{
	width:66.66666667%
}

.col-xs-7{
	width:58.33333333%
}

.col-xs-6{
	width:50%
}

.col-xs-5{
	width:41.66666667%
}

.col-xs-4{
	width:33.33333333%
}

.col-xs-3{
	width:25%
}

.col-xs-2{
	width:16.66666667%
}

.col-xs-1{
	width:8.33333333%
}

.col-xs-pull-12{
	right:100%
}

.col-xs-pull-11{
	right:91.66666667%
}

.col-xs-pull-10{
	right:83.33333333%
}

.col-xs-pull-9{
	right:75%
}

.col-xs-pull-8{
	right:66.66666667%
}

.col-xs-pull-7{
	right:58.33333333%
}

.col-xs-pull-6{
	right:50%
}

.col-xs-pull-5{
	right:41.66666667%
}

.col-xs-pull-4{
	right:33.33333333%
}

.col-xs-pull-3{
	right:25%
}

.col-xs-pull-2{
	right:16.66666667%
}

.col-xs-pull-1{
	right:8.33333333%
}

.col-xs-pull-0{
	right:auto
}

.col-xs-push-12{
	left:100%
}

.col-xs-push-11{
	left:91.66666667%
}

.col-xs-push-10{
	left:83.33333333%
}

.col-xs-push-9{
	left:75%
}

.col-xs-push-8{
	left:66.66666667%
}

.col-xs-push-7{
	left:58.33333333%
}

.col-xs-push-6{
	left:50%
}

.col-xs-push-5{
	left:41.66666667%
}

.col-xs-push-4{
	left:33.33333333%
}

.col-xs-push-3{
	left:25%
}

.col-xs-push-2{
	left:16.66666667%
}

.col-xs-push-1{
	left:8.33333333%
}

.col-xs-push-0{
	left:auto
}

.col-xs-offset-12{
	margin-left:100%
}

.col-xs-offset-11{
	margin-left:91.66666667%
}

.col-xs-offset-10{
	margin-left:83.33333333%
}

.col-xs-offset-9{
	margin-left:75%
}

.col-xs-offset-8{
	margin-left:66.66666667%
}

.col-xs-offset-7{
	margin-left:58.33333333%
}

.col-xs-offset-6{
	margin-left:50%
}

.col-xs-offset-5{
	margin-left:41.66666667%
}

.col-xs-offset-4{
	margin-left:33.33333333%
}

.col-xs-offset-3{
	margin-left:25%
}

.col-xs-offset-2{
	margin-left:16.66666667%
}

.col-xs-offset-1{
	margin-left:8.33333333%
}

.col-xs-offset-0{
	margin-left:0
}

@media (min-width:768px){
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{
		float:left
	}
	.col-md-9{
		width:95%
	}
	.col-sm-12{
		width:100%
	}

	.col-sm-11{
		width:91.66666667%
	}

	.col-sm-10{
		width:83.33333333%
	}

	.col-sm-9{
		width:75%
	}

	.col-sm-8{
		width:66.66666667%
	}

	.col-sm-7{
		width:58.33333333%
	}

	.col-sm-6{
		width:50%
	}

	.col-sm-5{
		width:41.66666667%
	}

	.col-sm-4{
		width:33.33333333%
	}

	.col-sm-3{
		width:25%
	}

	.col-sm-2{
		width:16.66666667%
	}

	.col-sm-1{
		width:8.33333333%
	}

	.col-sm-pull-12{
		right:100%
	}

	.col-sm-pull-11{
		right:91.66666667%
	}

	.col-sm-pull-10{
		right:83.33333333%
	}

	.col-sm-pull-9{
		right:75%
	}

	.col-sm-pull-8{
		right:66.66666667%
	}

	.col-sm-pull-7{
		right:58.33333333%
	}

	.col-sm-pull-6{
		right:50%
	}

	.col-sm-pull-5{
		right:41.66666667%
	}

	.col-sm-pull-4{
		right:33.33333333%
	}

	.col-sm-pull-3{
		right:25%
	}

	.col-sm-pull-2{
		right:16.66666667%
	}

	.col-sm-pull-1{
		right:8.33333333%
	}

	.col-sm-pull-0{
		right:auto
	}

	.col-sm-push-12{
		left:100%
	}

	.col-sm-push-11{
		left:91.66666667%
	}

	.col-sm-push-10{
		left:83.33333333%
	}

	.col-sm-push-9{
		left:75%
	}

	.col-sm-push-8{
		left:66.66666667%
	}

	.col-sm-push-7{
		left:58.33333333%
	}

	.col-sm-push-6{
		left:50%
	}

	.col-sm-push-5{
		left:41.66666667%
	}

	.col-sm-push-4{
		left:33.33333333%
	}

	.col-sm-push-3{
		left:25%
	}

	.col-sm-push-2{
		left:16.66666667%
	}

	.col-sm-push-1{
		left:8.33333333%
	}

	.col-sm-push-0{
		left:auto
	}

	.col-sm-offset-12{
		margin-left:100%
	}

	.col-sm-offset-11{
		margin-left:91.66666667%
	}

	.col-sm-offset-10{
		margin-left:83.33333333%
	}

	.col-sm-offset-9{
		margin-left:75%
	}

	.col-sm-offset-8{
		margin-left:66.66666667%
	}

	.col-sm-offset-7{
		margin-left:58.33333333%
	}

	.col-sm-offset-6{
		margin-left:50%
	}

	.col-sm-offset-5{
		margin-left:41.66666667%
	}

	.col-sm-offset-4{
		margin-left:33.33333333%
	}

	.col-sm-offset-3{
		margin-left:25%
	}

	.col-sm-offset-2{
		margin-left:16.66666667%
	}

	.col-sm-offset-1{
		margin-left:8.33333333%
	}

	.col-sm-offset-0{
		margin-left:0
	}

}

@media (min-width:992px){
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
		float:left
	}
	.col-md-12{
		width:100%
	}

	.col-md-11{
		width:91.66666667%
	}

	.col-md-10{
		width:83.33333333%
	}

	.col-md-9{
		width:75%
	}

	.col-md-8{
		width:66.66666667%
	}

	.col-md-7{
		width:58.33333333%
	}

	.col-md-6{
		width:50%
	}

	.col-md-5{
		width:41.66666667%
	}

	.col-md-4{
		width:33.33333333%
	}

	.col-md-3{
		width:25%
	}

	.col-md-2{
		width:16.66666667%
	}

	.col-md-1{
		width:8.33333333%
	}

	.col-md-pull-12{
		right:100%
	}

	.col-md-pull-11{
		right:91.66666667%
	}

	.col-md-pull-10{
		right:83.33333333%
	}

	.col-md-pull-9{
		right:75%
	}

	.col-md-pull-8{
		right:66.66666667%
	}

	.col-md-pull-7{
		right:58.33333333%
	}

	.col-md-pull-6{
		right:50%
	}

	.col-md-pull-5{
		right:41.66666667%
	}

	.col-md-pull-4{
		right:33.33333333%
	}

	.col-md-pull-3{
		right:25%
	}

	.col-md-pull-2{
		right:16.66666667%
	}

	.col-md-pull-1{
		right:8.33333333%
	}

	.col-md-pull-0{
		right:auto
	}

	.col-md-push-12{
		left:100%
	}

	.col-md-push-11{
		left:91.66666667%
	}

	.col-md-push-10{
		left:83.33333333%
	}

	.col-md-push-9{
		left:75%
	}

	.col-md-push-8{
		left:66.66666667%
	}

	.col-md-push-7{
		left:58.33333333%
	}

	.col-md-push-6{
		left:50%
	}

	.col-md-push-5{
		left:41.66666667%
	}

	.col-md-push-4{
		left:33.33333333%
	}

	.col-md-push-3{
		left:25%
	}

	.col-md-push-2{
		left:16.66666667%
	}

	.col-md-push-1{
		left:8.33333333%
	}

	.col-md-push-0{
		left:auto
	}

	.col-md-offset-12{
		margin-left:100%
	}

	.col-md-offset-11{
		margin-left:91.66666667%
	}

	.col-md-offset-10{
		margin-left:83.33333333%
	}

	.col-md-offset-9{
		margin-left:75%
	}

	.col-md-offset-8{
		margin-left:66.66666667%
	}

	.col-md-offset-7{
		margin-left:58.33333333%
	}

	.col-md-offset-6{
		margin-left:50%
	}

	.col-md-offset-5{
		margin-left:41.66666667%
	}

	.col-md-offset-4{
		margin-left:33.33333333%
	}

	.col-md-offset-3{
		margin-left:25%
	}

	.col-md-offset-2{
		margin-left:16.66666667%
	}

	.col-md-offset-1{
		margin-left:8.33333333%
	}

	.col-md-offset-0{
		margin-left:0
	}

}

@media (min-width:1200px){
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
		float:left
	}

	.col-lg-12{
		width:100%
	}

	.col-lg-11{
		width:91.66666667%
	}

	.col-lg-10{
		width:83.33333333%
	}

	.col-lg-9{
		width:75%
	}

	.col-lg-8{
		width:66.66666667%
	}

	.col-lg-7{
		width:58.33333333%
	}

	.col-lg-6{
		width:50%
	}

	.col-lg-5{
		width:41.66666667%
	}

	.col-lg-4{
		width:33.33333333%
	}

	.col-lg-3{
		width:25%
	}

	.col-lg-2{
		width:16.66666667%
	}

	.col-lg-1{
		width:8.33333333%
	}

	.col-lg-pull-12{
		right:100%
	}

	.col-lg-pull-11{
		right:91.66666667%
	}

	.col-lg-pull-10{
		right:83.33333333%
	}

	.col-lg-pull-9{
		right:75%
	}

	.col-lg-pull-8{
		right:66.66666667%
	}

	.col-lg-pull-7{
		right:58.33333333%
	}

	.col-lg-pull-6{
		right:50%
	}

	.col-lg-pull-5{
		right:41.66666667%
	}

	.col-lg-pull-4{
		right:33.33333333%
	}

	.col-lg-pull-3{
		right:25%
	}

	.col-lg-pull-2{
		right:16.66666667%
	}

	.col-lg-pull-1{
		right:8.33333333%
	}

	.col-lg-pull-0{
		right:auto
	}

	.col-lg-push-12{
		left:100%
	}

	.col-lg-push-11{
		left:91.66666667%
	}

	.col-lg-push-10{
		left:83.33333333%
	}

	.col-lg-push-9{
		left:75%
	}

	.col-lg-push-8{
		left:66.66666667%
	}

	.col-lg-push-7{
		left:58.33333333%
	}

	.col-lg-push-6{
		left:50%
	}

	.col-lg-push-5{
		left:41.66666667%
	}

	.col-lg-push-4{
		left:33.33333333%
	}

	.col-lg-push-3{
		left:25%
	}

	.col-lg-push-2{
		left:16.66666667%
	}

	.col-lg-push-1{
		left:8.33333333%
	}

	.col-lg-push-0{
		left:auto
	}

	.col-lg-offset-12{
		margin-left:100%
	}

	.col-lg-offset-11{
		margin-left:91.66666667%
	}

	.col-lg-offset-10{
		margin-left:83.33333333%
	}

	.col-lg-offset-9{
		margin-left:75%
	}

	.col-lg-offset-8{
		margin-left:66.66666667%
	}

	.col-lg-offset-7{
		margin-left:58.33333333%
	}

	.col-lg-offset-6{
		margin-left:50%
	}

	.col-lg-offset-5{
		margin-left:41.66666667%
	}

	.col-lg-offset-4{
		margin-left:33.33333333%
	}

	.col-lg-offset-3{
		margin-left:25%
	}

	.col-lg-offset-2{
		margin-left:16.66666667%
	}

	.col-lg-offset-1{
		margin-left:8.33333333%
	}

	.col-lg-offset-0{
		margin-left:0
	}

}


html, body {
  background: #F6F6F6 url(../images/bgs/body-monochrome.png) repeat scroll 0px 0px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 5px;
    padding-left: 5px;
}

a.btn:hover {
  color:rgba(255, 255, 255, 0.95);
  text-decoration:none;
}


label {
	color:#333;
}

img {
	max-width: 100%;
}

.myimg {
	margin-left: 15px;
}

::selection {
  background: #000000; /* WebKit Blink Browsers */
  color:#FFF;
}
::-moz-selection {
  background: #000000; /* Gecko Browsers */
  color:#FFF;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

a {
    word-wrap: break-word;
}

/*.content * {
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}*/

/* line 18, ../_sass/_base.scss */
body {
  color: #333;
  text-shadow: 1px 1px 1px rgb(210, 210, 210);
  height: 100%;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}

tr {
  border-bottom: 1px solid rgb(51, 51, 51);
}
td {
  border-right: 1px dashed rgb(51, 51, 51);
  padding: 2px;
}
.navbar-inner {
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #D7D7D7;
    background-image: -moz-linear-gradient(center top , #F6F4F4, #EFEAEA);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3), 0px -1px 0px #EFEAEAFA inset
}

.navbar .divider-vertical {
width: 1px;
height: 40px;
margin: 0px 9px;
overflow: hidden;
background-color: #2D2B2B;
border-right: 2px solid #2D2B2B;
}

.navbar-header {
	color:#000;
	padding-left:3px;
	padding-right:3px;
}

.navbar-nav > li {
	padding-top:0px;
	padding-bottom:0px;
	padding-left:3px;
	padding-right:3px;
}

.navbar-nav > li > a {
	color:#000;
}

.social > li > a {
	padding-top:8px;
	padding-bottom:5px;
}

.navbar-nav > li > a:hover {
	color:#777;
	background:#EFEFEF;
}

/* line 26, ../_sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  color: #333333;
  text-rendering: optimizelegibility;
  font-family: 'Advent Pro', sans-serif;
  /*font-family: 'Pontano Sans', sans-serif;*/
}

/* line 35, ../_sass/_base.scss */
a {
  /* color: #4cb4e8; Main Blue */
  /* color:#F44D27;  Orange */
  color:rgba(207, 0, 15, 0.95);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 37, ../_sass/_base.scss */
a:focus, a:hover {
 /* color: #d4edf9;  Blue */
  /* color:#F55F3D; */
  color:rgba(107, 0, 15, 0.95);
  text-decoration: none;
}

.itemTitle
{
color:#F44D27; /* Orange */
text-decoration: none;
}



/* line 44, ../_sass/_base.scss */
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: normal;
  color: #333;
}

/* line 49, ../_sass/_base.scss */
h1, h2 {
  margin: 0 0 15px;
}

/* line 53, ../_sass/_base.scss */
h1 {
  font-size: 40px;
}

/* line 57, ../_sass/_base.scss */
h2 {
  font-size: 30px;
}

/* line 61, ../_sass/_base.scss */
pre, code {
  color: #333;
  font-size: 16px;
}

/* line 65, ../_sass/_base.scss */
pre > code {
  /* Reset box-shadow for pygments */
  background: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
}

/* line 74, ../_sass/_base.scss */
hr {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  height: 1px;
}

/* Layout */
/* line 81, ../_sass/_base.scss */
.navbar {
  margin-bottom: 0;
}
/* line 83, ../_sass/_base.scss */
.navbar div.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 85, ../_sass/_base.scss */
.navbar div.navbar-inner a.brand {
  padding: 10px 20px;
}
/* line 90, ../_sass/_base.scss */
.navbar div.navbar-inner ul.nav:first-child li a {
  padding: 12px 10px 8px;
}

/* line 99, ../_sass/_base.scss */
.container > footer {
  margin-top: 20px;
  clear: both;
}

/* line 103, ../_sass/_base.scss */
.container > footer p {
  text-align: center;
  /* center align it with the container */
}

/* Content */
/* line 110, ../_sass/_base.scss */
.content {
  /* when there's no page-header */
  /* Wide column content */
}
/* line 111, ../_sass/_base.scss */
.content img {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
/* line 115, ../_sass/_base.scss */
.content.no-header {
  padding-top: 40px;
}
/* line 122, ../_sass/_base.scss */
.content div.row div.span8 > img {
  display: block;
  margin: 10px auto;
}
/* line 128, ../_sass/_base.scss */
.content div.row div.span4 h4 {
  margin-top: 10px;
}
/* line 130, ../_sass/_base.scss */
.content div.row div.span4 h4:first {
  margin-top: 0;
}
/* line 134, ../_sass/_base.scss */
.content p {
  padding-bottom: 15px;
  line-height: 25px;
  margin: 0;
}

/* Page header tweaks */
/* line 142, ../_sass/_base.scss */
.page-header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(255, 255, 255, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(255, 255, 255, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0, rgba(255, 255, 255, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(221, 207, 207, 0.3);
  border: none;
  padding: 20px 20px 10px;
  margin-right:15px;
  margin-left:15px;
  margin-top:0px;
  margin-bottom: 15px;
  z-index: 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 155, ../_sass/_base.scss */
.page-header h1 {
  color: #333;
  margin-bottom: 0;
}

/* line 161, ../_sass/_base.scss */
.topbar .btn {
  border: 0;
}

/* Pagination */
/* line 168, ../_sass/_base.scss */
div.pagination li a {
  -webkit-box-shadow: 0px 1px 1px black;
  -moz-box-shadow: 0px 1px 1px black;
  box-shadow: 0px 1px 1px black;
}

/* Buttons */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #ffffff;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn-default {
  color: #ffffff;
  background-color: #464545;
  border-color: #464545;
}
.btn-default:focus,
.btn-default.focus {
  color: #ffffff;
  background-color: #2c2c2c;
  border-color: #060606;
}
.btn-default:hover {
  color: #ffffff;
  background-color: #2c2c2c;
  border-color: #272727;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #2c2c2c;
  border-color: #272727;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #ffffff;
  background-color: #1a1a1a;
  border-color: #060606;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #464545;
  border-color: #464545;
}
.btn-default .badge {
  color: #464545;
  background-color: #ffffff;
}


/* Tags */
/* line 196, ../_sass/_base.scss */
.tag_box {
  list-style: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}
/* line 202, ../_sass/_base.scss */
.tag_box.inline li {
  float: left;
}
/* line 206, ../_sass/_base.scss */
.tag_box li {
  line-height: 28px;
}
/* line 210, ../_sass/_base.scss */
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4C964D;
  color: #FFF;
}
/* line 215, ../_sass/_base.scss */
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em;
}

/* line 223, ../_sass/_base.scss */
.tag_box.inline a,
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: rgba(252, 213, 213, 0.7);
  color: rgba(207, 0, 15, 0.95);
  border-radius: 3px;
  text-decoration: none;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 0, rgba(255, 255, 255, 0.5) 0 1px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
}
/* line 235, ../_sass/_base.scss */
.tag_box.inline a:hover,
.tag_box a:hover {
  background: rgba(255, 255, 255, 0.3);
}

/* Page-specific */
/* line 242, ../_sass/_base.scss */
div.content div#page-index {
  padding-top: 30px !important;
}

/* Zocial Overrides */
/* line 248, ../_sass/_base.scss */
.navbar a.zocial {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.zocial.facebook:focus,
.zocial.facebook:hover {
  color: #4863ae !important;
}

/* line 254, ../_sass/_base.scss */
.zocial.googleplus:focus,
.zocial.googleplus:hover {
  color: #e01d30 !important;
}

/* line 259, ../_sass/_base.scss */
.zocial.twitter:focus,
.zocial.twitter:hover {
  color: #46c0fb !important;
}

/* line 265, ../_sass/_base.scss */
.zocial.linkedin:focus,
.zocial.linkedin:hover {
  color: #50a1cb !important;
}

/* Layout */
/* line 2, ../_sass/_responsive.scss */
.navbar {
  margin-bottom: 0;
}
/* line 4, ../_sass/_responsive.scss */
.navbar div.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 7, ../_sass/_responsive.scss */
.navbar ul.social {
  /* Hide social menu on low-res screens */
}

.social-media-list li { list-style: none;display:block; float: left;width:10%;margin: auto;}

@media (min-width: 240px) and (max-width: 979px) {
  /* line 7, ../_sass/_responsive.scss */
  .navbar ul.social {
    display: none !important;
  }
}

/* Responsive Overrides */
@media (max-width: 767px) {
  /* line 18, ../_sass/_responsive.scss */
  body {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* line 23, ../_sass/_responsive.scss */
  div.container {
    padding: 0px 20px;
  }
  /* line 25, ../_sass/_responsive.scss */
  div.container div.page-header {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
  }
}
/* Posts */
/* line 3, ../_sass/_post.scss */
article.post header {
  margin-bottom: 10px;
}
/* line 5, ../_sass/_post.scss */
article.post header h1, article.post header h2 {
  margin: 0;
}
/* line 8, ../_sass/_post.scss */
article.post header .category {
  display: inline-block;
  color: white;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 6px;
  margin-left: 3px;
}

/* line 25, ../_sass/_post.scss */
div.posts article div.date {
  font-size: 10px;
  padding: 10px 0;
}
/* line 28, ../_sass/_post.scss */
div.posts article div.date time {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
}

/* This is for your site's custom styling */
/* line 3, ../_sass/_custom.scss */
div.sidebar section {
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
}
/* line 12, ../_sass/_custom.scss */
div.sidebar section img.icon {
  float: left;
  margin: 7px 15px 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.social-media-list li {
	width:5%;
}

.myimg
{
width:30%;
float:right;
}

#fb-root {
  display: none;
}

/* To fill the container and nothing else */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

.styled-button-8 {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:6px 10px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	/*border:1px solid #1A87B9*/
}
button.cupid-green {
    background-color: #4a73b9;
    background-image: -moz-linear-gradient(center top , #4a73b9, #0039a6);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(64, 129, 175) rgb(46, 105, 163) rgb(32, 85, 154);
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 1px 0px 0px rgb(114, 185, 235) inset, 0px 1px 2px 0px rgb(179, 179, 179);
    color: rgb(255, 255, 255);
    font: 11px/1 "lucida grande",sans-serif;
    padding: 3px 5px;
    text-align: center;
    text-shadow: 0px -1px 1px rgb(50, 117, 188);
    height:28px;
    line-height:28px;
}

.button_project {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	font-style:italic;
	height:24px;
	width:auto;
	line-height:24px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}

#count {
    text-decoration:none;
}

#back-to-top {
    background: rgba(255, 230, 230, 0.77);
    padding: 5px;
    border-radius: 5px;
}

li {
    line-height: 23px;
    padding-bottom:3px;
    padding-top:3px;
}

#shortIt
{
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
height:28px;
vertical-align: middle;
border: 0px none;
padding: 5px 5px 5px 5px;
}

.well, .breadcrumb, input, input[type="file"], select, textarea, .progress {
	box-shadow: 2px 2px 2px rgba(227, 219, 219, 0.8), 0px 0px 1px 1px #E3E3E3 inset;
	text-shadow: none;
	color: #090909;
	background: #EAEAEA none repeat scroll 0% 0%;
}

code, pre {
  box-shadow: 2px 2px 2px rgba(21, 20, 20, 0.8), 0px 0px 1px 1px #292727 inset;
  text-shadow: none;
  color: #DADADA;
  background: #333333 none repeat scroll 0% 0%;
}

code {
  word-break: break-all;
  word-wrap: break-word;
}

input {
	border-radius:5px;
	border-radius: 5px;
	border: 3px solid #E14F78;
}

.nav-container2 { width:auto; margin:auto; height:30px;}
.social-media-list { width: 100%; max-width: 1000px; }
@media screen and (max-width: 800px) {
    .item{
        width: 100%;
    }
    .page-header {
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
   }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
	.social-media-list li {
		width:7%;
	}
	#srch_btn { text-align:center; }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
/*  .twitter_feed { display: none; }    hide it elsewhere */
  .latest_posts { width: 100%; }
  .social-media-list li { width:15%; }
  #srch_btn { text-align:center; }
  .srch { width:200px; }
  .row { margin-right:0px;margin-left:0px; }
}
@media screen and (min-width: 980px) and (max-width: 1032px) {
	.navbar ul.social {
	    display: none !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 778px) {
	.navbar-nav {
		font-size:14px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.myimg {
		margin-left: 0px;
	}
}
.button_project:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}
.button_project:active {
	position:relative;
	top:1px;
}
