<!DOCTYPE html>
<html lang="en">
<head>
{% if site.enforce_ssl %}
<script type="text/javascript">
var enforce = "{{ site.enforce_ssl }}";
if ((enforce == window.location.host) && (window.location.protocol != "https:"))
window.location = window.location.toString().replace(/^http:/, "https:");
</script>
{% endif %}

<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<META HTTP-EQUIV="Expires" CONTENT="-1">
<link rel="icon" type="image/x-icon" href="https://bhavyanshu.me/favicon.ico?v=3"/>
<title>
  {% if page.title %}
  {{ page.title }} |
  {% endif %}
  Bhavyanshu's Blog
</title>
{% if page.description %}
<meta name="theme-color" content="#DB212E">
<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{{ site.author.name }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="author" href="https://plus.google.com/112306240164215805986"/>
<!-- Google translate -->
<meta name="google-translate-customization" content="bb7ab015109b8f9f-4c99376c1c5f8757-gbacc4f9d65539b3c-14"></meta>

<meta content="{{ site.title }}" property="og:site_name">
{% if page.title %}
<meta content="{{ page.title }}" property="og:title">
{% else %}
<meta content="{{ site.title }}" property="og:title">
{% endif %}
{% if page.title %}
<meta content="article" property="og:type">
{% else %}
<meta content="website" property="og:type">
{% endif %}
{% if page.description %}
<meta content="{{ page.description }}" property="og:description">
{% else %}
<meta content="{{ site.description }}" property="og:description">
{% endif %}
{% if site.url %}
<meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% else %}
<meta content="https://bhavyanshu.me{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
{% if page.image %}
<meta content="https://bhavyanshu.me/assets/imags/{{ page.image }}" property="og:image">
{% else %}
<meta content="https://bhavyanshu.me/assets/imags/site_logo.png" property="og:image">
{% endif %}
{% if page.categories %}
{% for category in page.categories limit:1 %}
<meta content="{{ category }}" property="article:section">
{% endfor %}
{% endif %}
{% if page.tags %}
{% for tag in page.tags %}
<meta content="{{ tag }}" property="article:tag">

{% endfor %}
{% endif %}

<link rel="alternate" type="application/rss+xml" title="RSS Feed for Bhavyanshu Parasher's Blog" href="/rss" />

<!-- Twitter Card -->

<meta name="twitter:card" content="summary" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<meta name="twitter:creator" content="@pytacular" />
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:description" content="{{ page.description }}" >
<meta name="twitter:domain" content="https://bhavyanshu.me">
<meta name="twitter:site" content="@pytacular">

<!-- HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css-social-buttons/css/zocial.stripped.css">
<link href="{{ ASSET_PATH }}/css/pygments-light.css" rel="stylesheet" type="text/css" media="all">
<link href="{{ ASSET_PATH }}/css/style-light.css" rel="stylesheet" type="text/css" media="all">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<style>
.ggd {
  display:none;
}
</style>

</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="top" class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
         <li><a href="/projects.html">Projects</a></li>
         <li><a href="/archive.html">Blog</a></li>
         <li><a href="/releaseslist.html">Software Releases</a></li>
         <li><a href="/tags.html">Tags</a></li>
       </ul>
       <div id="srch_btn">
        <form id="srch_frm" class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" id="q" class="form-control" placeholder="Search">
          </div>
          <button type="submit" id="btn_srch" class="btn btn-default srch"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </div>
      <ul class="nav navbar-nav navbar-right social visible-lg">
        {% if site.author.github %}
        <li><a href="https://github.com/{{ site.author.github }}" class="zocial github icon" target="_blank">
          <span class="hidden-lg">Github</span></a></li>
          <li><a href="https://plus.google.com/112306240164215805986" rel="me" class="zocial googleplus icon" target="_blank">
            <span class="hidden-lg">Google+</span></a></li>
            <li><a href="http://pytacular.tumblr.com" class="zocial tumblr icon" target="_blank">
              <span class="hidden-lg">Tumblr</span></a></li>
              <li><a href="https://twitter.com/pytacular" class="zocial twitter icon" target="_blank">
                <span class="hidden-lg">Twitter</span></a></li>
                <li>
                  <a href="https://bhavyanshu.me/subscribe.html" class="zocial rss icon" target="_blank">
                    <span class="hidden-lg">Subscribe</span>
                  </a>
                </li>

                {% endif %}
                {% if site.author.googleplus %}
                <li>
                  <a href="https://plus.google.com/{{ site.author.googleplus }}" class="zocial googleplus icon" target="_blank">
                    <span class="hidden-desktop">Google+</span>
                  </a>
                </li>
                {% endif %}
                {% if site.author.twitter %}
                <li>
                  <a href="https://twitter.com/{{ site.author.twitter }}" class="zocial twitter icon" target="_blank">
                    <span class="hidden-desktop">Twitter</span>
                  </a>
                </li>
                {% endif %}
                {% if site.author.linkedin %}
                <li>
                  <a href="http://www.linkedin.com/in/{{ site.author.linkedin }}" class="zocial linkedin icon" target="_blank">
                    <span class="hidden-desktop">LinkedIn</span>
                  </a>
                </li>
                {% endif %}
                {% if site.author.feedburner %}
                <li>
                  <a href="http://feeds.feedburner.com/{{ site.author.feedburner }}" class="zocial rss icon" target="_blank">
                    <span class="hidden-desktop">FeedBurner</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container-fluid">
          <div class="content">
           {{ content }}
         </div>
           <footer>
            <a href="#top" id="back-to-top"><span class="icon-arrow-up"></span>Glide To Top</a>
            <hr>
            <p style="text-align:center;">Portions of site code is &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
              with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
              and <a href="https://github.com/dhulihan/hooligan" target="_blank">The Hooligan Theme</a>  (customized).</p>
              <p style="text-align:center;"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Site Content</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://bhavyanshu.me" property="cc:attributionName" rel="cc:attributionURL">Bhavyanshu Parasher</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/bhavyanshu/bhavyanshu.github.com" rel="dct:source">https://github.com/bhavyanshu/bhavyanshu.github.com</a>.
              </p><br>
              <p style="text-align:center;">Also please take a look at <a href="https://bhavyanshu.me/privacy.html" title="Privacy Policy">user privacy policy</a> & <a href="https://bhavyanshu.me/terms.html" title="Terms & conditions">terms and conditions of usage of website.</a></p>
              <div id="google_translate_element"></div><script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
              }
            </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
          </footer>
    </div> <!-- /container -->

    <script src="{{ ASSET_PATH }}/js/plugins.js?v=1"></script>
    <script src="{{ ASSET_PATH }}/js/app.js?v=1"></script>

    <script type="text/javascript">
    $(document).ready(function() {
     $("#srch_frm").submit(function(){
      var parameter = $('#q').val();
      if(parameter != null && parameter.length != 0) {
       window.location = "http://bhavyanshu.me/search.html?q=" + parameter;
     }
     return false;
   });
   });
    </script>
    <!-- Scrollto -->
    <script type="text/javascript" >
    $(document).ready(function(){
      $('body').plusAnchor({
        speed:  1000
      });
    });
    </script>

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-46107357-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% include JB/analytics %}
  </body>
</html>
