<div class="page-header">
  <h1>
    {{ page.title }} </h1>
    <div class="date"><p><span>{{ page.date | date_to_long_string }}</span> By Bhavyanshu Parasher</p></div>
   <h1> {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
<div class="info" id="shortUrlInfo"></div>
<div class="nav-container2">
    <ul class="social-media-list">
<!--<li>
<a href="javascript:document.getElementsByTagName('body')[0].appendChild(document.createElement('script')).setAttribute('src','//geekli.st/javascript/bookmarklet/bookmarklet.js')"><img style="max-width:none; width:auto;width:auto\9;box-shadow:0px 0px 2px rgba(224, 225, 226,1);-webkit-box-shadow:0px 0px 2px rgba(224, 225, 226,1);-moz-box-shadow:0px 0px 2px rgba(224, 225, 226,1);background-color: #9BCC56;" height="28px" src="//geekli.st/images/assets/GeekIt_wFace.png"></a>
</li>-->
<li>
<a class="twitter-share-button" data-via="pytacular" data-size="large" data-related="pytacular" data-count="none">Tweet</a>
</li>
<li>
<div class="g-plus" data-action="share" data-annotation="none" data-height="30"></div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</li>
</ul>
</div>
</div>
<div class="row">
  <div class="col-md-9">
    {{ content }}
    <hr>
    <div class="pagination btn-group">
      {% if page.previous %}
        <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
      {% else %}
        <a class="btn disabled prev">&larr; Previous</a>
      {% endif %}
        <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
      {% if page.next %}
        <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
      {% else %}
        <a class="btn next disabled">Next &rarr;</a>
      {% endif %}
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="col-md-3">
    <section>
      <h4>Published</h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span> By <a href="https://plus.google.com/112306240164215805986?rel=author" rel="me" target="_blank">Bhavyanshu Parasher</a> - <a href="mailto:ask@bhavyanshu.me">ask@bhavyanshu.me</a></div>
      <br/>
      <div>
	<a href="https://twitter.com/pytacular" class="twitter-follow-button" data-show-count="true" data-size="large" data-lang="en">Follow @pytacular</a>
      </div>
    </section>
    {% if page.category %}
      <section>
        <h4><b>Category</b></h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}     
    {% unless page.tags == empty %}
      <section>
        <h4><b>Tags</b></h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
      <hr/>
      <section>
        <div style="margin-top:5px;" class="firefox-affiliate">
          <a target="_blank" href="https://affiliates.mozilla.org/referral/69659/">
            <img src="https://affiliates.mozilla.org/media/uploads/banners/734c0b361f835527b39b92989265996991792a9d.png" alt="Firefox Affiliate">
          </a>
        </div>
      </section><br>
      <hr>
    {% endunless %}         
  </div>
</div>
<!-- Initializing for URL shortening service. -->
<script type="text/javascript">
$(document).ready(function() {
		jQuery.urlShortener.settings.apiKey='AIzaSyAcGSDZr2WktuZ_3wWogUQZD_izdk2gf1c';
		var longUrlLink =$(location).attr('href');
		shortUrl = jQuery.urlShortener({longUrl:longUrlLink});
		$("#shortUrlInfo").html('<a href="'+shortUrl+'"> Short Link: '+shortUrl+'</a>');
		newURL = "https://twitter.com/share?url="+shortUrl;
		$("a.twitter-share-button").prop('href', newURL);
});
</script>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
